Witaj, {{ name }}!<br />
Link do ustawienia nowego hasła -  <a href="{{ HOST ~ path('reset_password',{'id': id, 'given_token': given_token}) }}">kliknij tutaj, aby przejść</a>.<br />
Zapytanie wysłano z IP: {{ ip }}.<br />
Link aktywny jest 30 minut. <br />
Jeśli to nie Ty wysłałeś zapytanie, zignoruj je.