Witaj {{ name }}!<br />
Utworzyłeś konto w naszym serwisie.<br />
Pozostało Ci 72 godziny na aktywację konta, możesz to zrobić klikając w <a href="{{ HOST ~ path('activate_account',{'id':id,'auth_key':auth_key}) }}">ten link</a>.